<section class="w-full py-28">
    <div class="w-full md:max-w-5xl mx-auto px-4 space-y-8">
        <div class="text-center space-y-2">
            <h1 class="text-4xl font-bold text-sky-900"> Project <span class="font-extrabold text-yellow-500">.</span>
            </h1>
            <h1 class="text-xl"> Beberapa aplikasi yang saya kerjakan dan kembangkan. </h1>
        </div>
        <div class="space-y-14">
            <div class="grid grid-cols-12 gap-8 items-center">
                <div class="col-span-full md:col-span-6 order-1 md:order-2">
                    <div class="aspect-video overflow-hidden rounded-xl">
                        <a href="/src/assets/image/project/sipengsan.png" target="_blank"> <img
                                class="bg-slate-200 w-full h-full object-cover transition duration-300 ease-in-out hover:scale-110"
                                src="/src/assets/image/project/thumbnail/simpeg.png" alt="SIMPeg">
                        </a>
                    </div>
                </div>
                <div class="col-span-full md:col-span-6 order-2 md:order-1">
                    <div class="space-y-4">
                        <h1 class="text-2xl font-bold text-sky-900">
                            <a href="https://simpeg.merantikab.go.id/" class="hover:underline">
                                SIMPeg
                            </a>
                        </h1>
                        <p>
                            Sistem Informasi Manajemen Kepegawaian Kabupaten Kepulauan Meranti.
                        </p>
                        <div class="flex gap-4">
                            <div
                                class="flex items-center gap-2 bg-slate-100 hover:bg-slate-200 px-4 py-2 rounded-xl transition duration-300 ease-in-out ">
                                Laravel
                            </div>
                            <div
                                class="flex items-center gap-2 bg-slate-100 hover:bg-slate-200 px-4 py-2 rounded-xl transition duration-300 ease-in-out ">
                                Filamentphp
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-8 items-center">
                <div class="col-span-full md:col-span-6 order-1 md:order-1">
                    <div class="aspect-video overflow-hidden rounded-xl">
                        <a href="/src/assets/image/project/sipengsan.png" target="_blank">
                            <img class="bg-slate-200 w-full h-full object-cover transition duration-300 ease-in-out hover:scale-110"
                                src="/src/assets/image/project/thumbnail/wartawan.png" alt="wartawan">
                        </a>
                    </div>
                </div>
                <div class="col-span-full md:col-span-6 order-2 md:order-2">
                    <div class="space-y-4">
                        <h1 class="text-2xl font-bold text-sky-900">
                            <a href="https://e-wartawan.merantikab.go.id/" class="hover:underline">
                                e-Wartawan
                            </a>
                        </h1>
                        <p>
                            Aplikasi hitung poin kerja sama Media dan Pemerintah Kabupaten Kepulauan Meranti.
                        </p>
                        <div class="flex gap-4">
                            <div
                                class="flex items-center gap-2 bg-slate-100 hover:bg-slate-200 px-4 py-2 rounded-xl transition duration-300 ease-in-out ">
                                Laravel
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-8 items-center">
                <div class="col-span-full md:col-span-6 order-1 md:order-2">
                    <div class="aspect-video overflow-hidden rounded-xl">
                        <a href="/src/assets/image/project/sipengsan.png" target="_blank">
                            <img class="bg-slate-200 w-full h-full object-cover transition duration-300 ease-in-out hover:scale-110"
                                src="/src/assets/image/project/thumbnail/tamu.png" alt="sipengsan">
                        </a>
                    </div>
                </div>
                <div class="col-span-full md:col-span-6 order-2 md:order-1 ">
                    <div class="space-y-4">
                        <h1 class="text-2xl font-bold text-sky-900">
                            <a href="https://tamu.merantikab.go.id/" class="hover:underline">
                                Tamu
                            </a>
                        </h1>
                        <p>
                            Aplikasi Buku Tamu untuk seluruh OPD Kabupaten Kepulauan Meranti.
                        </p>
                        <div class="flex gap-4">
                            <div
                                class="flex items-center gap-2 bg-slate-100 hover:bg-slate-200 px-4 py-2 rounded-xl transition duration-300 ease-in-out ">
                                Laravel
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-8 items-center">
                <div class="col-span-full md:col-span-6 order-1 md:order-1">
                    <div class="aspect-video overflow-hidden rounded-xl">
                        <a href="/src/assets/image/project/sipengsan.png" target="_blank">
                            <img class="bg-slate-200 w-full h-full object-cover transition duration-300 ease-in-out hover:scale-110"
                                src="/src/assets/image/project/thumbnail/sipengsan.png" alt="tamu">
                        </a>
                    </div>
                </div>
                <div class="col-span-full md:col-span-6 order-2 md:order-2">
                    <div class="space-y-4">
                        <h1 class="text-2xl font-bold text-sky-900">
                            <a href="http://sipengsanpedu.merantikab.go.id/" class="hover:underline">
                                SiPENGSAN
                            </a>
                        </h1>
                        <p>
                            Sistem Informasi Pengelolaan Kegiatan Kawasan Perbatasan Kepulauan Meranti.
                        </p>
                        <div class="flex gap-4">
                            <div
                                class="flex items-center gap-2 bg-slate-100 hover:bg-slate-200 px-4 py-2 rounded-xl transition duration-300 ease-in-out ">
                                Codeigniter
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>