<section class="w-full py-28">
    <div class="w-full md:max-w-5xl mx-auto px-4 space-y-8">
        <div class="text-center space-y-2">
            <h1 class="text-4xl font-bold text-sky-900"> Project <span class="font-extrabold text-yellow-500">.</span>
            </h1>
            <h1 class="text-xl"> Beberapa aplikasi yang saya kerjakan dan kembangkan. </h1>
        </div>
        <div class="space-y-14">
            <div class="grid grid-cols-12 gap-8 items-center">
                <div class="col-span-full md:col-span-6 order-1 md:order-2">
                    <div class="aspect-video overflow-hidden rounded-xl">
                        <img class="bg-slate-200 w-full h-full object-cover transition duration-300 ease-in-out hover:scale-110"
                            src="/src/assets/image/project/thumbnail/simpeg.png" alt="SIMPeg">
                    </div>
                </div>
                <div class="col-span-full md:col-span-6 order-2 md:order-1">
                    <div class="space-y-4">
                        <h1 class="text-2xl font-bold text-sky-900">
                            SIMPeg
                        </h1>
                        <p>
                            Sistem Informasi Manajemen Kepegawaian Kabupaten Kepulauan
                            Meranti.
                        </p>
                        <!-- <p class="text-slate-500">
                            Laravel, Filamentphp
                        </p> -->
                        <!-- <div id="tech-list" class="flex gap-4">
                            <div
                                class="flex items-center gap-2 bg-sky-950 text-yellow-500 hover:bg-slate-100 px-4 py-2 rounded-xl">
                                Laravel
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-8 items-center">
                <div class="col-span-full md:col-span-6 order-1 md:order-1">
                    <div class="aspect-video overflow-hidden rounded-xl">
                        <img class="bg-slate-200 w-full h-full object-cover transition duration-300 ease-in-out hover:scale-110"
                            src="/src/assets/image/project/thumbnail/wartawan.png" alt="SIMPeg">
                    </div>
                </div>
                <div class="col-span-full md:col-span-6 order-2 md:order-2">
                    <div class="space-y-4">
                        <h1 class="text-2xl font-bold text-sky-900">
                            e-Wartawan
                        </h1>
                        <p>
                            Aplikasi hitung poin kerja sama Media dan Pemerintah Kabupaten
                            Kepulauan Meranti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-8 items-center">
                <div class="col-span-full md:col-span-6 order-1 md:order-2">
                    <div class="aspect-video overflow-hidden rounded-xl">
                        <img class="bg-slate-200 w-full h-full object-cover transition duration-300 ease-in-out hover:scale-110"
                            src="/src/assets/image/project/thumbnail/tamu.png" alt="SIMPeg">
                    </div>
                </div>
                <div class="col-span-full md:col-span-6 order-2 md:order-1 ">
                    <div class="space-y-4">
                        <h1 class="text-2xl font-bold text-sky-900">
                            Tamu
                        </h1>
                        <p>
                            Aplikasi Buku Tamu untuk seluruh OPD Kabupaten Kepulauan
                            Meranti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-8 items-center">
                <div class="col-span-full md:col-span-6 order-1 md:order-1">
                    <div class="aspect-video overflow-hidden rounded-xl">
                        <img class="bg-slate-200 w-full h-full object-cover transition duration-300 ease-in-out hover:scale-110"
                            src="/src/assets/image/project/thumbnail/sipengsan.png" alt="SIMPeg">
                    </div>
                </div>
                <div class="col-span-full md:col-span-6 order-2 md:order-2">
                    <div class="space-y-4">
                        <h1 class="text-2xl font-bold text-sky-900">
                            SiPENGSAN
                        </h1>
                        <p>
                            Sistem Informasi Pengelolaan Kegiatan Kawasan Perbatasan
                            Kepulauan Meranti.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-full flex items-center gap-6">
            <div class="grow h-px bg-sky-900"></div><a href="/project"
                class="inline-flex items-center gap-2 text-base font-normal text-white rounded-xl bg-sky-900 hover:bg-sky-700 transition duration-300 ease-in-out px-4 py-2">
                Selengkapnya <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25">
                    </path>
                </svg></a>
        </div>
    </div>
</section>