<section class="w-full border-b border-slate-300">
    <div class="w-full md:max-w-7xl mx-auto md:border-x border-slate-300 space-y-8 p-8">
        <div class="text-center space-y-2">
            <h1 class="text-4xl font-bold text-sky-800 inline-block">
                Service
                <span class="font-extrabold text-4xl text-yellow-500">.</span>
            </h1>
            <h3 class="text-xl">
                Layanan terbaik yang bisa anda dapatkan.
            </h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8 justify-center">
            <div class="border border-slate-300 rounded-xl bg-gradient-to-t from-sky-100 to-transparent space-y-4 p-8 ">
                <div class="aspect-square overflow-hidden">
                    <img src="/src/assets/image/storyset/online-page-amico.svg" alt="image"
                        class="w-full h-full object-cover">
                </div>
                <div class="space-y-2">
                    <h1 class="text-2xl font-bold">
                        Konsultasi
                    </h1>
                    <p>
                        Diskusi awal untuk memahami kebutuhan dan menentukan solusi yang paling tepat.
                    </p>
                </div>
            </div>
            <div class="border border-slate-300 rounded-xl bg-gradient-to-t from-sky-100 to-transparent space-y-4 p-8 ">
                <div class="aspect-square overflow-hidden">
                    <img src="/src/assets/image/storyset/mobile-ui-ux-amico.svg" alt="image"
                        class="w-full h-full object-cover">
                </div>
                <div class="space-y-2">
                    <h1 class="text-2xl font-bold">
                        Analisis & Perancangan
                    </h1>
                    <p>
                        Menganalisis kebutuhan sistem dan merancang solusi yang efisien, terstruktur, dan mudah
                        dikembangkan.
                    </p>
                </div>
            </div>
            <div class="border border-slate-300 rounded-xl bg-gradient-to-t from-sky-100 to-transparent space-y-4 p-8 ">
                <div class="aspect-square overflow-hidden">
                    <img src="/src/assets/image/storyset/firmware-amico.svg" alt="image"
                        class="w-full h-full object-cover">
                </div>
                <div class="space-y-2">
                    <h1 class="text-2xl font-bold">
                        Pengembangan
                    </h1>
                    <p>
                        Membangun aplikasi menggunakan teknologi modern dengan fokus pada performa dan keamanan.
                    </p>
                </div>
            </div>
            <div class="border border-slate-300 rounded-xl bg-gradient-to-t from-sky-100 to-transparent space-y-4 p-8 ">
                <div class="aspect-square overflow-hidden">
                    <img src="/src/assets/image/storyset/software-tester-amico.svg" alt="image"
                        class="w-full h-full object-cover">
                </div>
                <div class="space-y-2">
                    <h1 class="text-2xl font-bold">
                        Implementasi & Maintenance
                    </h1>
                    <p>
                        Menerapkan sistem ke server serta menyediakan dukungan, perbaikan, dan pengembangan lanjutan.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>