<section class="w-full border-b border-slate-300">
    <div class="w-full md:max-w-7xl mx-auto md:border-x border-slate-300">
        <div class="w-full">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-48">
                <div class="order-1 md:order-2 p-8">
                    <a href="/src/assets/image/storyset/programming-amico.svg" target="_blank">
                        <img src="/src/assets/image/storyset/programming-amico.svg" alt="simpeg"
                            class="w-full h-full object-cover">
                    </a>
                </div>
                <div class="order-2 md:order-1 overflow-hidden bg-gradient-to-r from-sky-100 to-transparent  p-8">
                    <div class="space-y-4">
                        <h3 class="text-xl font-bold text-sky-500">
                            Jasa Profesional
                        </h3>
                        <h1 class="text-4xl font-extrabold">
                            Pengembangan Web App & Solusi Digital Modern
                            <span class="font-extrabold text-4xl text-yellow-500">.</span>
                        </h1>
                        <p class="text-lg text-slate-500">
                            Menyediakan layanan pengembangan aplikasi berbasis web dengan pendekatan yang terstruktur,
                            scalable, dan sesuai kebutuhan sistem bisnis Anda.
                        </p>
                        <ul class="space-y-2 text-slate-500">
                            <li class="flex items-center gap-4">
                                <span class="w-2 h-2 bg-sky-500 rounded-full"></span>
                                <span class="text-slate-500">Web Application Development</span>
                            </li>
                            <li class="flex items-center gap-4">
                                <span class="w-2 h-2 bg-sky-500 rounded-full"></span>
                                <span class="text-slate-500">Backend & API Development</span>
                            </li>
                            <li class="flex items-center gap-4">
                                <span class="w-2 h-2 bg-sky-500 rounded-full"></span>
                                <span class="text-slate-500">Sistem Informasi & Dashboard</span>
                            </li>
                            <li class="flex items-center gap-4">
                                <span class="w-2 h-2 bg-sky-500 rounded-full"></span>
                                <span class="text-slate-500">Integrasi Layanan Google</span>
                            </li>
                            <li class="flex items-center gap-4">
                                <span class="w-2 h-2 bg-sky-500 rounded-full"></span>
                                <span class="text-slate-500">Deployment & Maintenance</span>
                            </li>
                            <li class="flex items-center gap-4">
                                <span class="w-2 h-2 bg-sky-500 rounded-full"></span>
                                <span class="text-slate-500">Konsultasi Sistem</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>