<section class="w-full text-white bg-sky-950 py-28">
    <div class="w-full md:max-w-5xl mx-auto px-4">
        <div class="text-center space-y-2 mb-8">
            <h1 class="text-4xl md:text-4xl font-bold text-white">
                Tech <span class="font-extrabold text-yellow-500">.</span>
            </h1>
            <h3 class="text-xl">
                Teknologi yang saya gunakan.
            </h3>
        </div>
        <div id="tech-list" class="flex flex-wrap justify-center gap-4">
            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/html5.svg">
                <span class="font-monoo text-sky-950">HTML5</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/css3.svg">
                <span class="font-monoo text-sky-950">CSS3</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/bootstrap.svg">
                <span class="font-monoo text-sky-950">Bootstrap</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/tailwindcss.svg">
                <span class="font-monoo text-sky-950">Tailwind CSS</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/php.svg">
                <span class="font-monoo text-sky-950">PHP</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/laravel.svg">
                <span class="font-monoo text-sky-950">Laravel</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/livewire.svg">
                <span class="font-monoo text-sky-950">Livewire</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/codeigniter.svg">
                <span class="font-monoo text-sky-950">Codeigniter</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/javascript.svg">
                <span class="font-monoo text-sky-950">Javascript</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/vue.svg">
                <span class="font-monoo text-sky-950">Vue</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/git.svg">
                <span class="font-monoo text-sky-950">Git</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/github.svg">
                <span class="font-monoo text-sky-950">Github</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/postgressql.svg">
                <span class="font-monoo text-sky-950">PostgresSQL</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/mysql.svg">
                <span class="font-monoo text-sky-950">MySQL</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/inkscape.svg">
                <span class="font-monoo text-sky-950">Inkscape</span>
            </div>

            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square" src="/src/assets/image/techicons/gimp.svg">
                <span class="font-monoo text-sky-950">Gimp</span>
            </div>
        </div>

        <template id="tech-card-template">
            <div class="flex items-center gap-2 bg-white hover:bg-slate-100 px-4 py-2 rounded-xl"><img
                    class="h-8 aspect-square">
                <span class="font-monoo text-sky-950"></span>
            </div>
        </template>
    </div>
</section>